<!--admin profile page-->
<div class="container" ng-controller="ProfileController">
    <div style="margin-top: 45px;">
    </div>
    <hr>
    <div class="row">
        <div id="left-side" class="list-view ">
            <h1 id="section-tabs-header">
        <!--admin name-->
        {{user.firstName}} {{user.lastName}}


      </h1>
        </div>
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img ng-src="{{authentication.user.profileImageURL}}" alt="" class="img-circle user-pic">
                <h6>Upload a different photo...</h6>
                <input type="file" class="form-control">
                <!--profile menu-->
                <nav aria-label="context" role="navigation">
                    <ul class="nav" id="section-tabs">
                        <li class="section"><a ng-click="qc = false; quizComment = false;profileVisible = true; settingsVisible=false; statsVisible=false; editVisible=false" class="profile" href="#" tabindex="0">Profile</a></li>
                        <li class="section"><a ng-click="qc = false; quizComment = false;settingsVisible = true; statsVisible = false" class="profile_settings active" href="#" tabindex="0">Settings</a></li>
                        <li class="section"><a ng-click="qc = false; quizComment = false;statsVisible = true; profileVisible=false; settingsVisible=false; editVisible=false" class="profile_settings active" href="#" tabindex="0">Statistics</a></li>
                        <li class="section"><a ng-click="qc = true; quizComment = false; editVisible = false; profileVisible=false; settingsVisible=false; statsVisible=false" class="profile_settings active" href="#" tabindex="0">Question Control</a></li>
						<li class="section"><a ng-click="qc = false; quizComment = true; editVisible = false; profileVisible=false; settingsVisible=false; statsVisible=false" class="profile_settings active" href="#" tabindex="0">Quiz Comments</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--</div>-->
        <!-- edit form column -->
		<div ng-show="profileVisible" class="col-md-9 personal-info">
	<!--       <div class="alert alert-info alert-dismissable">
		    <a class="panel-close close" data-dismiss="alert">×</a>
		    <i class="fa fa-coffee"></i>
		    This is an <strong>.alert</strong>. Use this to show important messages to the user.
		  </div> -->
		  <h3>Account Information</h3>
		  <div class="col-lg-3">
		    <div class = "col-lg-8">
		      <label>Email</label>
		      <span>{{user.email}}</span><br>
		      <label>Username</label>
		      <span>{{user.userName}}</span>
		    </div>
		  </div>

		</div> <!-- end show profile -->
        <div ng-show="statsVisible">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Resource</th>
                        <th># of Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="resource in resources">
                        <td>{{resource.title}}</td>
                        <td>{{resource.clicks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="qc"> <!--begin display question edit buttons-->
        	<br><a href="http://localhost:3000/admin/question_upload" class="btn btn-primary" value=""> Upload Questions</a><br><br>
        	<a href="http://localhost:3000/data/questions" class="btn btn-primary" value=""> Remove Questions</a><br><br>
			<a class="btn btn-primary" ng-click="exportToCSV()">DownloadStatistics</a>
        </div>
        <div ng-show="statsVisible">
            <div ng-repeat="grade in Grades">
                <tr>
                    <td>Student : {{grade.student.studentName}}</td>
                </tr>
                <div ng-repeat="q in grade.analytics track by $index">
                    <tr>
                        <td>{{q.attempts}}</td>
                        <td>{{q.question.text}}</td>
                    </tr>
                </div>
                
            </div>
        </div>
		<div ng-show="quizComment">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="comments in Comments">
                        <td>{{comments.category}}</td>
                        <td>{{comments.comment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row"> <!-- begin settings display -->
            <!--profile info-->
            <div class="col-md-9 col-md-offset-3" ng-show="settingsVisible">
                <form class="form-horizontal" role="form" ng-submit="settingsupdate(true)">
                    <h3> Personal Info </h3>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <!--   <div class="inputs">
          <input type="text" ng-model="credentials.firstName"  placeholder="First Name" required style="height:40px;">
            </div> -->
                        <div class="col-lg-8">
                            <input class="form-control" type="text" ng-model="credentials.firstName" ng-value="user.firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Last name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" ng-model="credentials.lastName" ng-value="user.lastName">
                        </div>
                    </div>
                    <!-- <div class="form-group">
            <label class="col-lg-3 control-label">School:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div> -->
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" ng-model="credentials.email" ng-value="user.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <!--time zone-->
                        <label class="col-lg-3 control-label">Time Zone:</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select id="user_time_zone" class="form-control">
                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option value="Alaska">(GMT-09:00) Alaska</option>
                                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                    <option value="Arizona">(GMT-07:00) Arizona</option>
                                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                    <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--account info-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Username:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="credentials.userName" ng-value="user.userName">
                        </div>
                        <!-- <div class="inputs">
            <input type="text" ng-model="credentials.userName" required placeholder="Username" required style="height:40px;">
            </div> -->
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">New Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Confirm Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" value="" ng-model="credentials.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn btn-primary" type="submit" value="Save Changes">
                            <span></span>
                            <input type="reset" class="btn btn-default" value="Cancel">
                        </div>
                    </div>
                </form>
                >
                <!--class scores-->
                <!--apply new courses -->
                <!--  <div class = "col-md-9 col-md-offset-9">
        <button type="button" class="btn btn-success" ng-click="classupdates()">Add</button>
         </div>   
      </div>
 -->
            </div>
        </div>
        <hr>
    </div>
