<div id="navbar" ng-controller="HeaderController" class="navbar container-fluid vertical-center bg-navbar">
    <!--<span class="navbar-brand" ng-repeat="crumb in breadcrumb track by $index" ng-click="click(crumb)">
        {{crumb.name}}<span ng-hide="$index === breadcrumb.length - 1" class="glyphicon glyphicon-chevron-right"></span>
    </span>-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a data-ui-sref="home" class="nav-img pull-left navbar-brand">
            <img src="modules/core/client/img/brand/logo.png" alt="" style="width: 130px;">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="mainNavBar" style="padding-top: 20px;">
        <ul class="nav navbar-nav pull-right">
            <!--Home-->
            <li>
                <div class="navbar-brand">
                    <a id="home" style=";" data-ui-sref="home">Home</a>
                </div>
            </li>
            <!-- About -->
            <li>
                <div class="navbar-brand">
                    <a id="about" style=";" data-ui-sref="about">About Us</a>
                </div>
            </li>
            <!-- Contact -->
            <li>
                <div class="navbar-brand">
                    <a id="contact" style=";" data-ui-sref="contact">Contact</a>
                </div>
            </li>
            <!-- student list -->
            <li>
                <div ng-show="authentication.user.profileType === 'Teacher'" class="navbar-brand admin-menu" role="navigation">
                    <a href="" style="color: white;">Student List <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a style="color: black;" data-ui-sref="studentList">Students</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Login -->
            <li>
                <div id="login" ng-hide="authentication.user" class="navbar-brand">
                    <a data-ui-sref="authentication.signin">Login</a>
                </div>
            </li>
            <li>
                <div id="register" ng-hide="authentication.user" class="navbar-brand">
                    <a data-ui-sref="authentication.signup">Register</a>
                </div>
            </li>
            <!-- Username -->
            <li>
                <div ng-show="authentication.user" class="navbar-brand ">
                    <a href="" ng-click="profile()">{{authentication.user.displayName}}</a>
                </div>
            </li>
            <!-- Profile -->
            <li>
                <div ng-show="authentication.user" class="navbar-brand hideThis" ng-click="profile()">
                    <div class="nav-img">
                        <img ng-src="{{authentication.user.profileImageURL}}" alt="" class="img-circle user-pic">
                    </div>
                </div>
            </li>
            <li>
                <div id="logout" ng-show="authentication.user" class="navbar-brand">
                    <a href="" ng-click="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- <div ng-show="authentication.user.profileType === 'Teacher'" class="navbar-brand-pull-right">
    <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
      <li ui-sref-active="active">
        <a ui-sref="studentList">Student List</a>
      </li>
    </a>
  </div> -->
</div>
