<div ng-controller="QuizResults">

    <div class="container">
        <br>
        <div class="results-h">
            <h1>Results</h1>
        </div>
        <div class="results-s" id="results" ng-show="!analytics.length">
            <p> Error! Couldn't find your quiz results. Did you refresh the page?
                <br>Try taking the quiz again. </p>
        </div>

        <div class="results-s" id="results" ng-repeat="q in analytics track by $index">
            <h2> Question {{$index + 1}}: {{q.question.description}}</h2>
            <h3> Attempts: {{q.attempts}} </h3>
        </div>
        <button class="btn btn-primary btn-block" ng-click="gotoQuiz(currCategory)" ng-show="hasStart"> Back to Quiz </button>
        <button class="btn btn-primary btn-block" ng-click="gotoResource(currCategory)" ng-show="hasStart"> Review Resources </button>

    </div>

</div>
