<div ng-controller="SubjectController">
    <!--header-->
    <div class="breadcrumbh" id="breadcrumbh">
        <div class="row topmargin-b">
            <div class="col-md-3 col-md-offset-1 page-head">
                <h4>{{subject}}</h4>
            </div>
            <div class="col-md-7 b-head">
                <a data-ui-sref="home">Home</a> / {{subject}} / Quiz
            </div>
        </div>
    </div>
</div>
<div id="QuizView" ui-view class="margin-top-50" ng-controller="QuizController">
    <div class="container">
        <div class="col-md-10 col-md-offset-1" ng-show="loadedQ">
            <div id="startButton" ng-show="hasStart">
                <p ng-show="!questions.length">Category does not have any questions.</p>
                <p ng-show="questions.length">There are a total of {{questions.length}} question(s) for this assessment.</p>
                <p ng-hide="loggedIn">Please log in to take the assessment.</p>
                <button ng-disabled="!canStart" class="btn btn-primary btn-block" value="start" ng-click="start()" ng-show="hasStart"> Start </button>
                <button class="btn btn-primary btn-block" ng-click="gotoResource(currCategory)" ng-show="hasStart"> Review Resources </button>
            </div>
            <div id="quizContent" ng-show="quizStarted">
                <h1>Question {{numQuestion}}: {{questions[index].text}}</h1>
                <p>{{questions.length - numQuestion}} question(s) remaining.</p>
                <p ng-show="questions[index].hint.length">Hint: {{questions[index].hint}}</p>
                <a ng-show="questions[index].link.length" href="{{questions[index].link}}">Supplementary Reading</a>
                <p ng-show="hasError"> {{error}} </p>
                <br>
                <form class="col-md-offset-1">
                    <div class="row" ng-show="isMultipleChoice">
                        <div>
                            <li style="list-style: none"ng-repeat="a in questions[index].answers.MCTF">
                                <label>
                                    <input type="radio" ng-model="$parent.name" name="name" ng-value="{{$index}}" ng-change="$parent.changehappened(a)" required />{{a}}

                                </label>
                            </li>
                        </div>
                        <br>
                        <br>
                    </div>
                    <!--Used for True/False-->
                    <br>
                    <div class="row" ng-show="isTF">
                        <label>
                            <input type="radio" ng-model="answer" value="T">True</label>
                        <br>
                        <label>
                            <input type="radio" ng-model="answer" value="F">False</label>
                        <br>
                    </div>
                    <br/>
                    <br/>
                    <!--Used for MA -->
                    <div class="row" ng-show="isMA">
                        <label>
                            <input type="checkbox" ng-model="ansMA[0]" value="1"> {{questions[index].answerDesc1}}</label>
                        <br>
                        <label>
                            <input type="checkbox" ng-model="ansMA[1]" value="2"> {{questions[index].answerDesc2}}</labe>
                            <br>
                            <label>
                                <input type="checkbox" ng-model="ansMA[2]" value="3"> {{questions[index].answerDesc3}}</label>
                            <br>
                            <label>
                                <input type="checkbox" ng-model="ansMA[3]" value="4"> {{questions[index].answerDesc4}}</label>
                            <br>
                            <label>
                                <input type="checkbox" ng-show="questions[index].answerDesc5" ng-model="ansMA[4]" value="5"> {{questions[index].answerDesc5}}</label>
                            <br>
                    </div>
                    <!--ng-click="increment()"-->
                    <button id="next" class="btn" value="next" ng-hide="isDone" ng-click="checkAnswer(answer)"> Next</button>
                </form>
            </div>
            <div id="startButton" ng-show="isDone">
                <button class="btn btn-primary btn-block" ui-sref="quiz.results({correctScore: score, numQuestion: numQuestion, category: currCategory}) " ng-show="isDone" value="finished"> View Results </button>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="text-center footer" style="margin-top: 100px;">&copy; Biotility, 2015.</div>
