<div ng-controller="SubjectController">
    <!--header-->
    <div class="breadcrumbh" id="breadcrumbh">
        <div class="row topmargin-b">
            <div class="col-md-2 col-md-offset-1 col-xs-offset-1 col-xs-2 page-head">
                <h4>{{subject}}</h4>
            </div>
            <div class="col-md-8 col-sm-pull-1 col-xs-pull-1 b-head">
                <a data-ui-sref="home">Home</a> / {{subject}} / Quiz
            </div>
        </div>
    </div>
</div>
<div id="QuizView" ui-view class="margin-top-50" ng-controller="QuizController">
    <div class="container">
        <div class="col-md-10 col-md-offset-1" ng-show="loadedQ">
            <div id="startButton" ng-show="hasStart">
                <p ng-show="!questions.length">Category does not have any questions.</p>
                <p ng-show="questions.length">There are a total of {{questions.length}} question(s) for this assessment.</p>
                <p ng-hide="loggedIn">Please log in to take the assessment.</p>
                <button ng-disabled="!canStart" class="btn btn-primary btn-block" value="start" ng-click="start()" ng-show="hasStart"> Start </button>
                <button class="btn btn-primary btn-block" ng-click="gotoResource(currCategory)" ng-show="hasStart"> Review Resources </button>
            </div>
            <div id="quizContent" ng-show="quizStarted">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                        {{progress}}%
                    </div>
                </div>
                <!--p class="qLeft">{{questions.length - numQuestion}} question(s) remaining.</p-->
                <p class="qNum">Question {{numQuestion}} </p>
                <p class="qText" id="P-test1">{{questions[index].text}}</p>
                <p ng-show="hasHint">Hint: {{questions[index].hint}}</p>
                <a ng-show="questions[index].link.length" class="qSupp" ng-mousedown="openTab(questions[index].link)">Supplementary Reading</a>
                <p id="quizError" ng-show="hasError" class="alert alert-danger" role="alert"> {{error}} </p>
                <br>
                <form class="col-md-offset-1 qForm" ng-submit="">
                    <!--Used for MCTF-->
                    <div class="row" ng-show="isMultipleChoice">
                        <div>
                            <li style="list-style: none" ng-repeat="a in questions[index].answers.MCTF track by $index">
                                <input type="radio" ng-model="$parent.name" name="name" ng-value="{{$index}}" ng-click="$parent.changehappened(a)" />
                                <label ng-show="a.length">
                                    {{a}}
                                </label>
                            </li>
                        </div>
                        <br>
                        <br>
                    </div>
                    <!--Used for True/False-->
                    <br>
                    <div class="row" ng-show="isTF">
                        <br>
                        <label>
                            <input type="radio" ng-model="answer.val" name="option1" value="T">
                            <span>True</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio" ng-model="answer.val" name="option2" value="F">
                            <span>False</span>
                        </label>
                        <br>
                    </div>
                    <br/>
                    <br/>
                    <!--Used for MA -->
                    <div class="row" ng-show="isMA">
                        <div class="col-xs-5">
                            <ul>
                                <li style="list-style: none" ng-repeat="txt in questions[index].answers.MCTF track by $index">
                                    <p ng-show="txt.length">{{numToChar($index + 1)}}. {{txt}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-7">
                            <ul>
                                <li class="row" style="list-style: none; margin-bottom: 20px" ng-repeat="txt in questions[index].answers.MA.present track by $index">
                                    <select class="form-control" ng-model="ansMA[$index]" ng-show="txt.length" style="list-style: none; width: auto !important; display: inline-block;">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                        <option ng-repeat="i in getNumber(numOpts) track by $index">{{numToChar($index + 1)}}</option>
                                    </select>
                                    <span class="" ng-show="txt.length">{{txt}}</span>
                                </li>
                            </ul>
                        </div>
                        <br>
                    </div>
                    <button id="next" class="qButton btn btn-primary" value="next" ng-hide="isDone" ng-click="checkAnswer(answer)"> Next</button><br><br>
                </form>
            </div>
            <div id="startButton" ng-show="isDone">
                <button class="btn btn-primary btn-block" ui-sref="quiz.results({correctScore: score, numQuestion: numQuestion, category: currCategory}) " ng-show="isDone" value="finished">Submit & View Results </button>
            </div>
        </div>
    </div>
</div>
