<div ng-controller="authController">

<div ui-view class = "margin-top-50" ng-controller = "QuizController">
    <div class="header-space">
        <!-- Using this for space -->
    </div>
    <br>
    <br>
    <br>
		<div ng-show="isAdmin" class = "container" >
			<h1> Quiz Questions </h1>
			
		</div>
		<div ng-hide="isAdmin" >
			<br><br>
			<p> Access unauthorized. </p>
		</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--footer-->
<div class="text-center footer" style="margin-top: 100px;">&#9400; Biotility </div>
</div>
