<div ng-controller="QuizResults">
    <div class="container">
        <br>
        <div class="results-h">
            <h1>Results</h1>
        </div>
        <div class="results-s" id="results" ng-show="!analytics.length">
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Couldn't find your quiz results. Please log in again.
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Question</th>
                        <th>Attempts</th>
                        <th>First Inc. Choice</th>
                        <th>Correct Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="q in analytics track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{q.question.text}}</td>
                        <td>{{q.attempts}}</td>
                        <!--First Incorrect-->
                        <td ng-show="!isMA">{{q.firstIncorrect || "N/A"}}</td>
                        <td ng-show="isMA">
                            <li ng-repeat="fInc in q.firstIncorrect track by $index">{{fInc}}</li>
                            <span ng-show="!q.firstIncorrect.length">N/A</span>
                        </td>
                        <!--Correct Answer-->
                        <td ng-show="isMultipleChoice">{{q.question.answers.MCTF[q.question.answers.correct - 1]}}</td>
                        <td ng-show="isTF">{{q.question.answers.correct}}</td>
                        <td ng-show="isMA">
                            <li ng-repeat="correct in q.question.answers.MA.correct track by $index">{{correct}}</li>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary btn-sm" id="myBtn"> Leave A Comment</button>
        <button class="btn btn-primary btn-block" ng-click="gotoQuiz(currCategory)" ng-show="hasStart"> Back to Quiz </button>
        <button class="btn btn-primary btn-block" ng-click="gotoResource(currCategory)" ng-show="hasStart"> Review Resources </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color:red;"><span class="glyphicon glyphicon-envelope"></span> Quiz Comment</h4>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <p>Please Leave A Comment Pertaining To The Quiz.
                </p>
                <form name="contactForm" ng-submit="sendMail()">
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Comment</label>
                        <input type="text" class="form-control" ng-model="emText" id="usrname" placeholder="Comment">
                    </div>
                    <button type="submit" id="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Confirm</button>
                </form>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">Close</a>
                <div class="row">Biotility &#9400></div>
            </div>
        </div>
    </div>
</div>
