<div ng-controller="AuthenticationController">

<!--header-->
    <div class="breadcrumbh">
    	<div class="row topmargin-b">
        <div class="col-md-3 col-md-offset-1 col-xs-offset-1 col-xs-4 col-sm-4 page-head">
           	Sign-up
        </div>
        <div class="col-md-7 col-sm-pull-1 col-xs-pull-1 b-head">
           	<a data-ui-sref="home">Home</a> / <a data-ui-sref="authentication.signin">Login</a> / Sign-Up
        </div>
    	</div>
    </div>

	<!--submit form-->
    <form ng-submit="signup(true)">
   		 <div class="container topmargin-50" align="center">
         	<div class="inputs">
         	<input type="text" ng-model="credentials.firstName"  placeholder="First Name" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="text" ng-model="credentials.lastName" required placeholder="Last Name" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="email" ng-model="credentials.email" required placeholder="E-mail" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="text" ng-model="credentials.userName" required placeholder="Username" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="password" ng-model="credentials.password" required placeholder="Password" required style="height:40px;">
            </div>
        </div>
<!-- class="col-md-2 col-md-offset-4 col-xs-12 col-xs-offset-1"  -->
<!--account type-->
        <div class="row" align="center" style="margin-left:80px">
                <div class="accounts">
                Account Type:
                </div>
            <div class="radio account-pick">
                <label>
                    <input type="radio" name="profiletype" value="Teacher" ng-model="credentials.profileType" required> Teacher
                </label>
                <br>
                <label>
                    <input type="radio" name="profiletype" value="Student" ng-model="credentials.profileType" required> Student with class code
                </label>
                <br>
                <label>
                  <input type="radio" name="profiletype" value="Student2" ng-model="credentials.profileType" required> Student without class code
                </label>
              <br>
            </div>
        </div>
        <!-- if student - input class code -->
        <div ng-show="credentials.profileType=='Student'" class="inputs" align="center">
                <input type="text" ng-model="credentials.courseCode" placeholder="Class Code" style="height:40px;">
        </div>
        <!-- if student - input class code -->
        <div ng-show="credentials.profileType=='Student2'" class="inputs" align="center">
          You will have to verify your e-mail.
        </div>
        <!-- if teacher - select courses  -->
        <div ng-show="credentials.profileType=='Teacher'">
            <div class="row" align="center" style="margin-left:80px">
                <div>
                    <div class="accounts">
                		Courses:
                	</div>
                </div>

                <!--select course-->
                <div class="account-pick" align="center">
                    <select ng-model="toAdd" style="width: 175px; height: 30px;">
                        <option ng-repeat="name in classNames track by $index">{{name}}</option>
                    </select>
                    <!--button for adding more than one course-->
                    	<button type="button" class="btn btn-default" ng-click="add(toAdd)">
                        	+
                   		</button>
                </div>
            </div>

            <!--Classes already seleted-->
            <div class="row" align="center">
                <div class="col-md-2 col-md-offset-5 col-sm-offset-5 col-xs-2 col-xs-offset-4">
                    <ul class="list-inline">
                        <li ng-repeat="x in credentials.courses track by $index">
                            <button type="button" class="btn btn-success">{{x.courseName}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Registration button-->
        <div class="topmargin-10" style="text-align:center;">
            <button class="btn btn-default" type="submit">
                Register
            </button>
        </div>
    </form>
</div>

<!--footer-->
<div class="text-center footer" style="margin-top: 100px;">&copy; Biotility, 2015.</div>
